<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67f57d">  <td>20/01/17 13:21:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CostaIosLogIn.CostaApp()[pri:0, instance:Costa_Mix.Costa_Mix.CostaIosLogIn@2049a9c1]">CostaApp</td> 
  <td>main@1332691311</td>   <td></td> </tr>
<tr bgcolor="ab6598">  <td>20/01/17 13:25:06</td>   <td>245046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CostaAndroid.CostaApp()[pri:0, instance:Costa_Mix.Costa_Mix.CostaAndroid@6e15fe2]">CostaApp</td> 
  <td>main@1332691311</td>   <td></td> </tr>
<tr bgcolor="a38dcd">  <td>20/01/17 13:17:34</td>   <td>-207396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CostaIosSignUp.CostaAppHome()[pri:0, instance:Costa_Mix.Costa_Mix.CostaIosSignUp@1ef6d34c]">CostaAppHome</td> 
  <td>main@1332691311</td>   <td></td> </tr>
</table>
